@import "./layout/_header.scss";
@import "./utility/notifications.scss";
@import "./layout/_table.scss";
@import "./utility/_buttons.scss";
@import "./utility/_util.scss";
@import "./layout/_card.scss";
@import "./layout/_modal.scss";
@import "./utility/calendar.scss";
@import '../../node_modules/input-moment/dist/input-moment.css';

@import url("https://fonts.googleapis.com/css?family=Barlow");

html {
  font-size: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Barlow", Helvetica, Arial, sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  background-color: #e7e7e7;
}

button:disabled {
  opacity: 0.5;
}
