.card {
  border-radius: 3px;
  background-color: #ffffff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  width: 58vw;
  height: 40vh;
  margin-left: auto;
  margin-right: auto;
  padding-top: 30px;
  overflow: auto;
  .content {
    width: 100%;
    overflow: hidden;
    position: relative;
    display: flex;
    .cell{
      display: inline-block;
      width: 50%;
      line-height: 90px;
      &.date-time-input{
        line-height: 30px;
      }
      &.left-padding{
        padding-left: 60px;
      }
    }
  }
  .medium-bold {
    font-family: Barlow;
    font-size: 22px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #030303;
    padding-bottom: 18px;
    padding-right: 60px;
  }
  .input {
    .child {
      float: left;
      border-radius: 200px;
      border: solid 1px #cbcbcb;
      outline: none;
      height: 33px;
      width: 171px;
      text-align: center;
      cursor: pointer;
      width: 80%;
    }
  }
  .white-button {
    border-radius: 3px;
    background-color: #ffffff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  }

}
