.table-header {
  border-radius: 3px;
  background-color: #660074;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  .text {
    font-family: Barlow;
    font-size: 22px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
  }
}

.table {
  margin-left: auto;
  margin-right: auto;
  margin-top: 16vh;
  width: 76vw;
  position: relative;

  .notification-container{
    position: absolute;
    background: white;
    width: 25%;
    right: 0;
    border-radius: 4px;
    background-color: #ffffff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    padding: 12px;
    .message {
      &.success {
        font-weight: bold;
        color: #00ac07;
        padding-bottom: 10px;
      }
      &.primary {
        font-family: Barlow;
        font-size: 18px;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        letter-spacing: normal;
        color: #030303;
      }
    }
  }

  &.medium-width {
    width: 58vw;
  }
    .name {
      height: 40px;
      font-family: Barlow;
      font-size: 26px;
      font-weight: 600;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: left;
      color: #030303;
      margin-bottom: 26px;
      margin-top: 26px;
    }

    .body {
      margin-bottom: 80px;
      background-color: white;
      &.transparent-background {
        background-color: transparent;
      }
      &.no-margin-bottom {
        margin-bottom: 0;
      }
      .row:nth-child(1) {
        border-top: 1px solid black;
        &.no-border {
          border: none;
        }
      }
      .row {
         box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
      }
      .text-container {
        width: 100%;
        overflow: hidden;
        position: relative;
        display: flex;
        height: 90px;
        .text {
          display: inline-block;
          width: 33.3%;
          line-height: 90px;
          &.simple {
            font-family: Barlow;
            font-size: 24px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: normal;
            text-align: center;
            color: #030303;
            line-height: 88px;
          }
          &.left-align {
            text-align: left;
          }
          &.left {
            &.bet {
              font-family: Barlow;
              font-size: 24px;
              font-weight: normal;
              font-style: normal;
              font-stretch: normal;
              line-height: normal;
              letter-spacing: normal;
              text-align: center;
              color: #030303;
              line-height: 90px;
            }
            &.placed {
              opacity: 0.5;
            }
          }
          &.center {
            line-height: 45px;
          }
          .bold {
            font-weight: 600;
            &.details{
              font-family: Barlow;
              font-size: 22px;
              font-weight: 600;
              font-style: normal;
              font-stretch: normal;
              line-height: normal;
              letter-spacing: normal;
              text-align: left;
              color: #030303;
              margin-top: 16px;
              .light-bold {
                 font-weight: normal;
              }
            }
            &.placed {
              opacity: 0.5;
            }
          }
        }
      }
      .left {
        font-size: 20px;
      }
    }
}
